算法测试结果/算法2两点间测地距离计算CalGeodesicLineOpt/jqd_qianduan_All1103ToNing.CATPart
算法测试结果/算法2两点间测地距离计算CalGeodesicLineOpt/jqd_qianduan_All1103ToNing.igs
*.png
算法测试结果/算法3测地等距GeodesicOffsetNonFlexible/异常说明.txt
算法测试结果/算法4PolyLines距离计算CalGDInfo/异常说明.txt
算法测试结果/算法2两点间测地距离计算CalGeodesicLineOpt/异常说明.txt
*.obj
CAM5_mmSTL625/.vs/
CAM5_mmSTL625/Debug/
CAM5_mmSTL625/x64/Debug/CAM.exe
CAM5_mmSTL625/x64/
*.rar
CAM5_mmSTL625/Model/Part.cpp
